{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}