@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--animation-duration: 1000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 25vmin;
	font-weight: 900;
	font-family: "Montserrat", sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

#scrollableDiv {
	max-height: 100vh;
}

/* disabled */
.gallery__X img {
	width: auto;
	height: auto;
	object-fit: cover;
	/* border: 10px solid white; */
	transition:
		transform 500ms ease-in-out,
		opacity 500ms ease-in-out;
	box-sizing: unset;
}

.my-masonry-grid {
	display: flex;
	margin-left: -20px; /* gutter size offset */
	width: auto;
}

.my-masonry-grid_column {
	padding-left: 20px; /* gutter size */
	background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
	margin-bottom: 20px;
}
